.category {
    font-family: sans-serif;
}

.category::before {
    content: "⟨";
}

.category::after {
    content: "⟩";
}

.placeholder {
    font-family: Courier, monospace;
    font-weight: bold;
}

.nl {
    color: darkgreen;
    font-style: italic;
}

.nl::before {
    content: "'";
}

.nl::after {
    content: "'";
}

.rewrite-rule-container-wrapper {
    margin: auto;   /* Center in parent */
    max-width: 100%;
    overflow-x: scroll;
    padding-bottom: 15px; /* Prevent scroll bar from overlapping with last line */
}

.rewrite-rule-container {
    display: block;
    width: fit-content;
}

.rewrite-rule-container:not(:last-of-type) {
    margin-bottom: 20px;
}

.rewrite-rule-separator {
    width: 100%;
    margin: 2px 0;
    border: 1px solid black;
}

.rewrite-line {
    padding: 1px;
    text-align: center;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.divider-wrapper {
    display: flex;
    /*width: 100%;*/
    margin-top: -0.35em;
    margin-bottom: -0.5em;
}

.divider-line {
    height: 2px;
    background-color: black;
    width: 100%;
    /*margin-top: 0.35em;*/
    margin-top: auto;
    margin-bottom: auto;
}

.divider-label-wrapper {
    display: inline-block;
    margin: 0;
    width: 0;
    overflow: visible;
}

.divider-label {
    width: max-content;
}

.divider-label-wrapper > div {
    padding-left: 0.3em;
}