.place-holder {
    font-family: sans-serif;
}

.rewrite-rule-container {
    margin: auto;   /* Center in parent */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.rewrite-rule-separator {
    width: 100%;
    margin: 2px 0;
    border: 1px solid black;
}

.rewrite-line {
    padding: 1px;
    text-align: center;
}
